<app-toolbar [title]="title" [currentUser]="currentUser"></app-toolbar>

<div class="container mt-3">
    <h2>Admin Dashboard</h2>
  
    <div *ngIf="showSuccess" class="alert alert-success">
      <button type="button" class="close" aria-label="Close" (click)="showSuccess=false">
        <span aria-hidden="true">&times;</span>
      </button>
      Driver onboarded successfully.
    </div>
    
    <div *ngIf="showFailure" class="alert alert-danger">
      <button type="button" class="close" aria-label="Close" (click)="showFailure=false">
        <span aria-hidden="true">&times;</span>
      </button>
      Driver onboarding failed.
    </div>
  
    <h4>Onboard Driver</h4>
  
    <form (ngSubmit)="onSubmit()" #onboardDriverForm="ngForm">
      <div class="form-group">
        <label for="name">Driver Name:</label>
        <input type="text" class="form-control w-25" id="name" name="name" [(ngModel)]="driverName" required>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="isLoading" style="margin-top: 10px;">Submit</button>
    </form>
  
    <div *ngIf="isLoading" class="mt-3">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width.%]="progress" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">{{progress}}%</div>
      </div>
    </div>
  </div>
  