<div style="background-color: #070A52; height: 100vh;">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
      <h1 style="color: white; font-size: 48px; margin-bottom: 24px;">Welcome to The Ride</h1>
      <h2 style="color: white; font-size: 24px; margin-bottom: 24px;">Login as:</h2>
      <select style="font-size: 24px; padding: 8px; background-color: white; color: #070A52; cursor: pointer;" (change)="onSelect($event)">
        <option value="">Select an option</option>
        <option value="admin">Admin</option>
        <option value="customer">Customer</option>
        <option value="driver">Driver</option>
      </select>
    </div>
  </div>
  